.Tag {
  width: 521px;
  height: 46px;
  padding: 1px 54px;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  background-color: var(--mui-pallete-background-default);
  color: var(--mui-pallete-secondary-light);
  font-size: 16px;
  font-family: sans-serif;
}
