.btn2 {
  width: 267px;
  height: 61px;

  padding: 11px 12px;

  border-radius: 10px;
  opacity: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border: none;
  cursor: pointer;

  background-color: #5b4343;

  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  color: white;
}

