.Card {
  width: 406px;
  height: 289px;
  padding: 10px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: linear-gradient(
    90deg,
    var(--mui-pallete-common-black),
    var(--mui-pallete-common-white)
  );
  box-shadow:
    1px -1px 4px var(--mui-pallete-secondary-light),
    -10px 10px 7.3px var(--mui-pallete-background-default);
}
